html, body {
    font-family: 'Microsoft Yahei',Tahoma,Helvetica,Arial,sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
section {
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: center;
    color: #fff;
}
h2 {
    
}
h3 {
    
}
p {
    
}
.page1 {
    background-color: #f5da55;
}
.page2 {
    background-color: #ce4844;
}
.page3 {
    background-color: #1b809e;
}