@charset 'UTF-8';
// base input
//-------------------------------
.u-input {
	.f-r, .f-l, .f-c {
		height: 30px;
		background-image: url('../images/control-input.png');
		vertical-align: top;
	}
	.f-r, .f-l {
		width: 3px;
  		background-repeat: no-repeat;
	}
	.f-r {
		float: right;
		background-position: 0 -30px;
		// with controll bar
		i {
			position:absolute;
			width: 23px;
			height: 30px;
			background-image: url(../images/icon_arrow_down.png);
			background-repeat: no-repeat;
			cursor: pointer;
			z-index: 10;
			*zoom:1;
		}
		// with arrow
		.arrow{
			margin: 0 0 0 -23px;
			background-position: 50% 50%;
		}
		// width btn
		.add {
			margin: 0 -23px 0 0;
			background-position: 0 0;
		}
	}
	.f-l {
		float: left;
	}
	.f-c {
		overflow: hidden;
		padding: 0 5px;
		margin: 0 3px;
		background-repeat: repeat-x;
		background-position: 0 -60px;
	}
	input.text{
		margin: 0 0 0 -8px;
		padding: 7px 8px;
		*padding: 6px 8px;
		width: 100%;
		line-height: 16px;
		background: none;
		border: none;
	}
}

// base btn
//-------------------------------
.u-btn {
	display: inline-block;
	height: 30px;
	font-size: 14px;
	color: #666;
	vertical-align: middle;
	text-decoration: none;
	cursor: pointer;

	.f-r, .f-l, .f-c {
		display: inline-block;
		background-image: url('../images/btn-default.png');
		height: 30px;
		vertical-align: top;
	}
	&:hover {
		.f-r, .f-l, .f-c {
			background-image: url('../images/btn-default-hover.png');
		}
	}
	.f-l, .f-r {
		background-repeat: no-repeat;
		width: 5px;
	}
	.f-l {
		float: left;
		background-position: 0 0;
	}
	.f-r {
		float: right;
		background-position: 0 -30px;
	}
	.f-c {
		padding: 0 10px;
		background-repeat: repeat-x;
		background-position: 0 -60px;
		line-height: 30px;
		color: #fff;
	}
	.u-btn-icon {
		display: inline-block;
		overflow: hidden;
		width: 16px;
		height: 16px;
		background-image: url('../images/btn-icon.png');
		background-repeat: no-repeat;
		vertical-align: middle;
	}
	.icon-query {
		background-position: 0 -1px;
	}
	.icon-add {
		background-position: 0 -16px;
	}
	.icon-delete {
		background-position: 0 -32px;
	}
}

.u-btn-blue {
	.f-r, .f-l, .f-c {
		background-image: url('../images/btn-primary.png');
	}
	&:hover {
		.f-r, .f-l, .f-c {
			background-image: url('../images/btn-primary-hover.png');
		}
	}

}