@charset 'UTF-8';
.container{
	padding:10px;
}
// panel
//-------------------------------
.m-panel {
	.s-radio {
		position: absolute;
		height: 4px;
		width: 4px;
		background-image: url(../images/block-arc.png);
		background-repeat: no-repeat;
		font-size:0;
	}
	.s-tl {
		top: -1px;
		left: -1px;
		background-position: 0 0;
	}
	.s-tr {
		top: -1px;
		right: -1px;
		background-position: 100% 0;
	}
	.s-br {
		bottom: -1px;
		left: -1px;
		background-position: 0 100%;
	}
	.s-bl {
		bottom: -1px;
		right: -1px;
		background-position: 100% 100%;
	}
	.s-icon {
		float: left;
		/*background-image: url(../images/) TODO */
	}
	.s-icon-title {

	}
	.m-header, .m-footer {
		position: relative;
		height: 38px;
		border: 1px solid #d0d1d7;
	}
	.m-header {
		background-color: #f5f5f5;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#f5f5f5');
		background: linear-gradient(top, #fbfbfb, #f5f5f5);
		background: -ms-linear-gradient(top, #fbfbfb, #f5f5f5);
		background: -moz-linear-gradient(top, #fbfbfb, #f5f5f5);
		background: -webkit-linear-gradient(top, #fbfbfb, #f5f5f5);
		h1 {
			float: left;
			margin: 0;
			padding-left: 12px;
			line-height: 38px;
			font-size: 14px;
			font-weight: bold;
		}
	}
	.m-content {
		background-color: #fff;
		border-left: 1px solid #d0d1d7;
		border-right: 1px solid #d0d1d7;
		font-size: 0.75em;
	}
	.m-footer {
		background-color: #f5f5f5;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#f5f5f5');
		background: linear-gradient(top, #fbfbfb, #f5f5f5);
		background: -ms-linear-gradient(top, #fbfbfb, #f5f5f5);
		background: -moz-linear-gradient(top, #fbfbfb, #f5f5f5);
		background: -webkit-linear-gradient(top, #fbfbfb, #f5f5f5);
	}
}

// base layout
//---------------------------------
.m-table-layout {
	width: 100%;
    table-layout: fixed;
    border-spacing: 0;
	thead {
		th, td {

		}
		th {
			border-left: 1px solid #dbdbdb;
			border-bottom: 1px solid #dbdbdb;
			line-height: 38px;
			font-size: 14px;
			font-weight: bold;
			&:first-child, &.first {
				border-left: none;
			}
			div{
				padding: 0 5px;
				height: 38px;
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f3f8', endColorstr='#e4e7ec');
				background: linear-gradient(top, #f2f3f8, #e4e7ec);
				background: -ms-linear-gradient(top, #f2f3f8, #e4e7ec);
				background: -moz-linear-gradient(top, #f2f3f8, #e4e7ec);
				background: -webkit-linear-gradient(top, #f2f3f8, #e4e7ec);
				text-align: center;
			}
		}
		td {
			height:0;
		    padding:0;
		    margin:0;
		    border:none!important;
		    font-size:0;
		}
	}

	tbody {
		tr {
			&:first-child , &.first {
				td, th {
					border-top: none;
				}
			}
			/* &:hover, &.hover {
				td, th {
					background-color: #FEE59B;
				}
			} */
			&.even {
				td, th {
					background-color: #f4f6f8;	
				}
			}
			&.selected {
				td, th {
					background-color: #ffffcc;	
				}
			}
			& td:first-child, & td.first, & th:first-child, & th.first {
				border-left: none;
			}

		}
		th, td {
			line-height: 16px;
    		font-size:14px;
		}
		th {
			text-align: right;
		}
		td {
			padding: 0 5px;
			height: 38px;
			line-height: 16px;
			text-align: center;
			border-left: 1px solid #dbdbdb;
			border-top: 1px solid #dbdbdb;
		}
	}
}

// base layout list 
// ------------------------------------------
.m-table-list {
	tbody {
		tr {
			&:hover, &.hover {
				td, th {
					background-color: #FEE59B;
				}
			}
		}
	}
	.txt-left{
		text-align: left;
	}	
	.txt-right {
		text-align: right;
	}	
}

// base table layout form
// ------------------------------------------
.m-table-form {
	tbody {
		th, td {
			border: 0;
		}
	}
}