.page {
  padding: 10px 12px;
  height: 24px;
  font-size: 12px;
  a, span, select{
      display: inline-block;
      height: 24px;
      line-height: 24px;
      vertical-align: top;
  }
  .goto {
    float: right;
    a {
      text-decoration: none;
      &.disabled, &.disabled:hover {
        color: #999;
        cursor: default;
        text-decoration: none;
      }
    }
    .prev, .next {
      color: #464646;
      &:hover {
        color: #333;
        text-decoration: underline;
      }
    }
    input {
      padding: 4px;
      background: url('../images/page.png') 0 0;
      border: none;
      height: 16px;
      width: 42px;
      text-align: center;
      vertical-align: top;
      *margin-top: -1px;
    }
    .pageto {
        background: url('../images/page.png') 0 -24px;
        width: 50px;
        text-align: center;
        color: #707070;
        &:hover {
          color: #555;
          background-position: 0 -48px;
        }
    }
  }
  .record {
    float: left;
    select {
      margin: 0 2px;
      width: 40px;
      height: 24px;
      text-align: center;
      border: none;
      background: url('../images/page.png') 0 -72px;
      *background: none;
    }
  }
}