<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>imageViewer</title>
</head>
<body>
    <ul>
        <li>
            <div><img src="./imgs/4.png" alt="cors_server_flowchart"></div>
        </li>
        <li>
            <div><img src="./imgs/5.png" alt="MJB-TCP-Header-800x564"></div>
        </li>
        <li>
            <div><img src="./imgs/6.png" alt="tcp3"></div>
        </li>
        <li>
            <div><img src="./imgs/7.png" alt="TCP4"></div>
        </li>
    </ul>
</body>
</html>