<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>forzen-colunm</title>
    <!--<link rel="stylesheet" href="./scss/freeze.css">-->
    <link rel="stylesheet" href="./DataTables/datatables.css">
    <style>
       /* #freeze-grid {
            margin: 0 auto;
            width: 1000px;
        }*/
       th, td { white-space: nowrap; }
       div.dataTables_wrapper {
           width: 500px;
           margin: 0 auto;
       }
    </style>
</head>
<body>
<div class="container">
    <div class="DTFC_ScrollWrapper" style="position:relative; clear:both;">
        <div class="DTFC_LeftWrapper" style="position:absolute; top:0; left:0;">
            <div class="DTFC_LeftHeadWrapper" style="position:relative; top:0; left:0; overflow:hidden;"></div>
            <div class="DTFC_LeftBodyWrapper" style="position:relative; top:0; left:0; overflow:hidden;">
                <div class="DTFC_LeftBodyLiner" style="position:relative; top:0; left:0; overflow-y:scroll;">
                    <!--content-->

                </div>
            </div>
            <div class="DTFC_LeftFootWrapper" style="position:relative; top:0; left:0; overflow:hidden;"></div>
        </div>

        <div class="DTFC_RightWrapper" style="position:absolute; top:0; right:0;">
            <div class="DTFC_RightHeadWrapper" style="position:relative; top:0; left:0;">
                <div class="DTFC_RightHeadBlocker DTFC_Blocker" style="position:absolute; top:0; bottom:0;"></div>
            </div>
            <div class="DTFC_RightBodyWrapper" style="position:relative; top:0; left:0; overflow:hidden;">
                <div class="DTFC_RightBodyLiner" style="position:relative; top:0; left:0; overflow-y:scroll;">
                    <!--content-->
                </div>
            </div>
            <div class="DTFC_RightFootWrapper" style="position:relative; top:0; left:0;">
                <div class="DTFC_RightFootBlocker DTFC_Blocker" style="position:absolute; top:0; bottom:0;"></div>
            </div>
        </div>
    </div>
</div>
<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="demo.js"></script>
<script>
    $(function(){

    });
</script>
</body>
</html>