.table-fixed-column {
  .table {
    //width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    th, td {
      padding: 8px 10px;
      white-space: nowrap;
      box-sizing: border-box;
      border: 1px solid #ddd;
    }
  }
  .table-fixed-column-left-body-inner, .table-fixed-column-scroll-body{
    .table {
      >thead {
        >tr {
          height: 0;
          >th {
            border: 1px solid transparent;
            height: 0;
            padding-top:0;
            padding-bottom:0;
            div {
              height:0;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
  // left fixed
  .table-fixed-column-left-wrap {
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    table {
      th, td {
        //border-right: 0!important;
      }
    }
    // 宽度 就是表格内容的宽度
    .table-fixed-column-left-header {
      background: #fff;
      position: relative;
      top: 0;
      left: 0;
      overflow: hidden;
      table {
        border-right:0;
        border-bottom:0;
      }
    }
    .table-fixed-column-left-body {
      position: relative;
      top: 0;
      left: 0;
      overflow: hidden;
      background: #fff;
      .table-fixed-column-left-body-inner {
        position: relative;
        top: 0;
        left: 0;
        overflow-y: scroll;
        padding-right: 20px;
        box-sizing: border-box;
        table {
          border-right:0;
          border-bottom:0;
        }
        /*此处有高宽*/
        //宽度 比table-fixed-column-left-wrap 多一个滚动条的宽度
      }
    }
  }
  // scroll
  .table-fixed-column-scroll {
    .table-fixed-column-scroll-header {
      overflow: hidden;
      position: relative;
      border: 0;
      width: 100%;
      .table-fixed-column-scroll-header-inner {
        box-sizing: border-box;
        padding-right: 20px;
        // 这里的宽度和内容区域的宽度一样
      }
    }
    .table-fixed-column-scroll-body {
      position: relative;
      overflow: auto;
      width: 100%;
      max-height: 400px;
    }
  }

}
