<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>布局组件</title>
    <meta name="description" content="常规的布局组件">
	<link rel="stylesheet" href="../../dist/css/main.css">
</head>
<body>
	<div class="container">
   	<div class="m-panel">
   		<div class="m-header">
   			<div class="s-radio s-tl"></div>
   			<div class="s-radio s-tr"></div>
   			<h1><i class="s-icon s-icon-title"></i>这里是个标题</h1>
   		</div>
		<div class="m-content">
			<div class="">
				<form action="">
					<table class="m-table-layout m-table-form" cellpadding="0" cellspacing="0">
						<thead>
							<tr>
								<td width="100" class=""></td>
								<td class=""></td>
								<td width="100" class=""></td>
								<td class=""></td>
								<td width="100" class=""></td>
							</tr>
						</thead>						
						<tbody>
							<tr>
								<th><div><i class="require">&lowast;</i>项目名称：</div></th>
								<td>
									<div class="u-input">
										<div class="f-r"></div>
										<div class="f-l"></div>
										<div class="f-c">
											<input id="" class="text" type="text" placeholder=""/>
											<input class="hidden" type="hidden"/>
										</div>
									</div>
								</td>
								<th><div><i class="require">&lowast;</i>项目类别：</div></th>
								<td>
									<div class="u-input u-combox">
										<div class="f-r"></div>
										<div class="f-l"></div>
										<div class="f-c">
											<input id="combox" class="text" type="text" placeholder=""/>
											<input class="hidden" type="hidden"/>
										</div>
									</div>
								</td>
								<td>
									<a class="u-btn u-btn-blue">
										<span class="f-r"></span>
										<span class="f-l"></span>
										<span class="f-c"><i class="u-btn-icon icon-query"></i>查询</span>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
		<div class="m-footer">
			<!-- 可能会添加page -->
			<div class="s-radio s-bl"></div>
   			<div class="s-radio s-br"></div>
		</div>
   	</div>
	</div>
   	<div class="container">
	   	<div class="m-panel">
	   		<div class="m-header">
	   			<div class="s-radio s-tl"></div>
	   			<div class="s-radio s-tr"></div>
	   			<h1><i class="s-icon s-icon-title"></i>查询结果</h1>
	   			<div></div>
	   		</div>
			<div class="m-content">
				<div class="">
					<table class="m-table-layout m-table-list" cellpadding="0" cellspacing="0">
						<thead>
							<tr>
								<th width="30" class=""><div><input class="choose all" type="checkbox" name="all"></div></th>
								<th width="40" class=""><div>序号</div></th>
								<th width="200" class=""><div>项目名称</div></th>
								<th width="90" class=""><div>项目负责人</div></th>
								<th class=""><div>项目描述</div></th>
								<th width="90" class=""><div>操作</div></th>
							</tr>
						</thead>						
						<tbody>
							<tr>
								<td><div><input class="choose item" type="checkbox" /></div></td>
								<td><div>1</div></td>
								<td><div class="ell link txt-left"><a class="link" href="javascript:;">安徽工程大学二期建设项目</a></div></td>
								<td><div>李四</div></td>
								<td><div class="txt-left">这是一个很长的描述，主要介绍了项目的一般状况，投入招标情况，以及盈利情况这是一个很长的描述，主要介绍了项目的一般状况，投入招标情况，以及盈利情况。</div></td>
								<td><div><a class="link" href="javascript:;">删除</a>&nbsp;&nbsp;<a class="link" href="javascript:;">编辑</a></div></td>
							</tr>
							<tr>
								<td><div><input class="choose item" type="checkbox" /></div></td>
								<td><div>2</div></td>
								<td><div class="ell link txt-left"><a class="link" href="javascript:;">安徽工程大学二期建设项目测试项目名称长度</a></div></td>
								<td><div>王五</div></td>
								<td><div class="txt-left">这是一个很长的描述，主要介绍了项目的一般状况，投入招标情况，以及盈利情况这是一个很长的描述，主要介绍了项目的一般状况，投入招标情况，以及盈利情况。</div></td>
								<td><div><a class="link" href="javascript:;">删除</a>&nbsp;&nbsp;<a class="link" href="javascript:;">编辑</a></div></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="m-footer">
				<!-- 可能会添加page -->
				<div class="page" id="page">
					<div class="goto">
						<a class="prev disabled" href="javascript:;">上一页</a>
						<span>1/2</span>
						<a class="next" href="javascript:;">下一页</a>
						<span>转到</span>
						<span><input type="text" value="1"></span>
						<a class="pageto" href="javascript:;">确定</a>
					</div>
					<div class="record">
						<span>共18条记录，每页显示</span>
						<select class="select-pagesize">
							<option value="5">5</option>
							<option value="10">10</option>
							<option value="20">20</option>
							<option value="40">40</option>
							<option value="50">50</option>
						</select>
						<span>条信息</span>
					</div>
				</div>
				<!-- <div class="m-pager">
					<div class="page"></div>
				</div> -->
				<div class="s-radio s-bl"></div>
	   			<div class="s-radio s-br"></div>
			</div>
	   </div>
   </div>
   <script src="../../bower_components/jquery/dist/jquery.js"></script>
   <script src="../combox/jquery.combox.js"></script>
   <script type="text/javascript">
   		$(function(){
   			var data = [
				{text: '待立项', value: 1},
				{text: '待审批', value: 2},
				{text: '审核中', value: 3},
				{text: '正在建设', value: 4},
				{text: '已结项', value: 5}
			];
			
			//绑定所属部门下拉框
			$('#combox').comboBox({
				data : data,
				emptyText: '全部'
			});
   		});
   </script>
</body>
</html>