<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>music</title>
    <link rel="stylesheet" href="">
</head>
<body>
<div class="warp">
    <div class="list channel" id="channel_list">

    </div>
    <div class="list song" id="song_list">

    </div>
    <div class="main">
        <div class="album">
            <img id="album_bg" src="" alt="">
        </div>
        <div class="option">
            <div>
                <video src="">

                </video>
            </div>
            <div class="">
                <span class="pre"></span>
                <span class="next"></span>
                <span class="play stop"></span>
            </div>
        </div>
        <div class="lyric">

        </div>
    </div>
</div>
<script src="./resource/lib/jquery-3.1.0.min.js"></script>
<script src="./resource/js/index.js"></script>
</body>
</html>