@import "base";
$color0: #24ffff;
$color1: #181636;
$color2: #ed3d20;
$color3: #fa8700;
@keyframes load_animation {
  0% {
    background-color: $color0;
  }
  25% {
    background-color: $color1;
  }
  50% {
    background-color: $color3;
  }
  75% {
    background-color: $color2;
  }
  100% {
    background-color: $color0;
  }
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.load {
  position: relative;
  width: 100px;
  height: 100px;
  .square {
    float: left;
    height: 50%;
    width: 50%;
    box-sizing: border-box;
    background-color: currentColor;
    &.s0 {
      color: $color0;
    }
    &.s1 {
      color: $color1;
    }
    &.s2 {
      color: $color2;
    }
    &.s3 {
      color: $color3;
    }
    &:before {
      position: absolute;
      content: " ";
      right: -100px;
      top: 0;
      width: 100px;
      height: 100px;
      display: none;
      z-index: 1000;
    }
  }
}
.result {
  position: absolute;
  content: " ";
  right: -100px;
  top: 0;
  width: 100px;
  height: 100px;
  animation: load_animation 4s ease infinite;
}
.square:hover {
  cursor: pointer;
  &:before {
    display: block;
    background-color: currentColor;
  }
  & ~ .result {
    animation-play-state: paused;
  }
}
